<article>
    <header>
        <h1>Forgot Password</h1>
        <p>Enter your email to reset your password</p>
    </header>
    
    {{- if .success }}
    <div role="alert" class="success">
        {{ .success }}
    </div>
    {{end}}
    
    {{- if .error }}
    <div role="alert" class="error">
        {{ .error }}
    </div>
    {{end}}
    
    <form method="POST" action="/forgot-password">
        <label for="email">
            Email
            <input type="email" id="email" name="email" placeholder="you@example.com" required>
        </label>
        
        <button type="submit">Send Reset Link</button>
    </form>
    
    <footer>
        <p>
            <a href="/login">Back to login</a>
        </p>
    </footer>
</article>
